@font-face {
  font-family: "iconfont"; /* Project id 4257825 */
  src: url('iconfont.woff2?t=1714750422892') format('woff2'),
       url('iconfont.woff?t=1714750422892') format('woff'),
       url('iconfont.ttf?t=1714750422892') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e602";
}

.icon-git:before {
  content: "\e799";
}

.icon-huifu:before {
  content: "\e7ac";
}

.icon-dianzan1:before {
  content: "\e656";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-JVM:before {
  content: "\e653";
}

.icon-Oracle:before {
  content: "\ea23";
}

.icon-CSS:before {
  content: "\e705";
}

.icon-hadoop-copy:before {
  content: "\e61d";
}

.icon-Angular:before {
  content: "\e798";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-Nodejs:before {
  content: "\e79c";
}

.icon-spring:before {
  content: "\e60a";
}

.icon-rabbitmq:before {
  content: "\e604";
}

.icon-huanjingbianliang:before {
  content: "\ed95";
}

.icon-docker:before {
  content: "\e60b";
}

.icon-jsx:before {
  content: "\e63b";
}

.icon-c:before {
  content: "\e698";
}

.icon-python:before {
  content: "\e690";
}

.icon-vuex-store:before {
  content: "\e6bb";
}

.icon-go:before {
  content: "\eba6";
}

.icon-SPRINGMVC:before {
  content: "\e62f";
}

.icon-springboot:before {
  content: "\e713";
}

.icon-js:before {
  content: "\e618";
}

.icon-HTML:before {
  content: "\eac7";
}

.icon-mybatis:before {
  content: "\e60c";
}

.icon-Nginx:before {
  content: "\e616";
}

.icon-java:before {
  content: "\e6d7";
}

.icon-SPRINGCLOUD:before {
  content: "\e671";
}

.icon-MySQL-icon-02:before {
  content: "\e638";
}

.icon-jenkins_:before {
  content: "\ec6e";
}

.icon-a-C:before {
  content: "\e75f";
}

.icon-php:before {
  content: "\e773";
}

.icon-mybatisplus:before {
  content: "\e605";
}

.icon-Redis:before {
  content: "\e788";
}

.icon-spring-security:before {
  content: "\e606";
}

.icon-chatgpticon:before {
  content: "\e607";
}

.icon-zuixinwenzhang:before {
  content: "\e601";
}

.icon-youqinglianjie:before {
  content: "\e620";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-gitee:before {
  content: "\e603";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e876";
}

.icon-weixin:before {
  content: "\e665";
}

